<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cambiar contraseña</title>
</head>
<body>

<h1>Cambiar contraseña</h1>

<form th:action="@{/usuarios/cambiar-clave}" method="post">

    <input type="hidden" name="idUsuario" th:value="${idUsuario}"/>

    <label>Nueva contraseña:</label>
    <input type="password" name="nuevaClave" required>

    <br><br>

    <button type="submit">Cambiar contraseña</button>

</form>

<br>

<a th:href="@{/login}">Volver al login</a>

</body>
</html>
