<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recuperar contraseña</title>
</head>
<body>

<h1>Recuperar contraseña</h1>

<p>Ingresa tu correo para restablecer tu contraseña.</p>

<form th:action="@{/usuarios/recuperar}" method="post">

    <label>Email:</label>
    <input type="email" name="email" required>

    <br><br>

    <button type="submit">Enviar</button>
</form>

<br>

<a th:href="@{/login}">Volver al login</a>

</body>
</html>
